{% extends 'base.html' %}

{% block title %}Panel de Cliente{% endblock %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">Autozone Falso</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Cerrar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_cart') }}">
                        <img src="{{ url_for('static', filename='path_to_cart_icon.png') }}" alt="Cart" style="width:24px;">
                        Carrito
                    </a>
                </li>                               
            </ul>
        </div>
    </nav>
    
    <h1>Bienvenido, {{ client.first_name }} {{ client.last_name_p }}</h1>
    <h2>Productos Disponibles</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-3">
            <div class="card border border-warning">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <form method="POST" action="{{ url_for('add_to_cart', product_id=product.id) }}">
                        <button type="submit" class="btn btn-primary" onclick="this.disabled=true; this.innerHTML='Agregado al carrito'; this.style.backgroundColor='#f2f2f2';">Agregar al carrito</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
