{% extends 'base.html' %}

{% block title %}Catalog{% endblock %}

{% block content %}
<div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">Autozone Falso</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('list_services') }}">servicios</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('list_clients') }}">Clientes</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>

    <h2>Product List</h2>
    <a href="{{ url_for('add_product') }}" class="btn btn-primary">Add Product</a>
    <!-- Search Bar -->
    <input type="text" id="searchBar" class="form-control mb-3" placeholder="Search for products...">

    <table class="table table-bordered">
        <thead>
            <tr style="border-color: orange;">
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="productTable">
            {% for product in products %}
            <tr style="border-color: orange;">
                <td>{{ product.name }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <a href="/update/{{ product.id }}" class="btn btn-success" style="background-color: #28a745; color: white;">Edit</a>
                    <a href="/delete/{{ product.id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- JavaScript for search functionality -->
<script>
    document.getElementById('searchBar').addEventListener('keyup', function() {
        var searchQuery = this.value.toLowerCase();
        var rows = document.querySelectorAll('#productTable tr');

        rows.forEach(function(row) {
            var productName = row.querySelector('td').textContent.toLowerCase();
            if (productName.startsWith(searchQuery)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
