{% extends 'base.html' %}

{% block title %}Servicios Pagados{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Servicios Pagados</h2>
    <table class="table table-bordered">
        <thead>
            <tr style="border-color: orange;">
                <th>Número de Cliente</th>
                <th>Nombre del Cliente</th>
                <th>Nombre del Carro</th>
                <th>Servicios Seleccionados</th>
                <th>Total</th>
                <th>Fecha y Hora de Pago</th>
                <th>Status</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for service in paid_services %}
            <tr style="border-color: orange;">
                <td>{{ service.client_id }}</td>
                <td>{{ service.client.first_name }} {{ service.client.last_name_p }} {{ service.client.last_name_m }}</td>
                <td>{{ service.car.name }}</td>
                <td>
                    {% for order in service.service_orders %}
                        {{ order.service_type }},
                    {% endfor %}
                </td>
                <td>{{ service.total }}</td>
                <td>{{ service.payment_datetime }}</td>
                <td>{{ service.status }}</td>
                <td><a href="{{ url_for('service_details', service_id=service.id) }}">Detalles</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
