{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100" style="background: linear-gradient(to right, #4CAF50, #2196F3);">
    <div class="card p-4" style="background-color: white; color: black; width: 400px;">
        <h1 class="text-center">Iniciar Sesión</h1>
        <div class="mb-3">
            <a href="/login/client" class="btn btn-primary d-block mx-auto">Iniciar Sesión como Cliente</a>
        </div>
        <div class="mb-3">
            <a href="/login/admin" class="btn btn-primary d-block mx-auto">Iniciar Sesión como Administrador</a>
        </div>
    </div>
</div>
{% endblock %}
